{
  "extends": [
    "@spotify/eslint-config-base",
    "@spotify/eslint-config-typescript",
    "prettier",
    "plugin:es/restrict-to-es2018"
  ],
  "plugins": ["@spotify/eslint-plugin"],
  "rules": {
    "es/no-rest-spread-properties": "off",
    "es/no-optional-chaining": "off",
    "es/no-nullish-coalescing-operators": "off",
    "no-inner-declarations": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-shadow": "off"
  }
}
