**/node_modules/
.idea

# packages
packages/**/build
coverage/*

# examples
examples/*/coverage
examples/*/build
examples/*/.next
examples/*/out
examples/*/*.log*
examples/*/.env*
examples/*/*.tsbuildinfo
examples/*/next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
