name: Build, Test, Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Build-And-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-environment
        uses: ./.github/actions/setup
        with:
          node-version: '20'
      - run: yarn bundle
      - run: yarn lint
      - run: yarn format:check
      - run: yarn test
