name: Run Release Please

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write
  pull-requests: write

jobs:
  Release-Please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      release_tag_name: ${{ steps.release.outputs.release_tag_name }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main
          monorepo-tags: true

  Build-And-Publish:
    environment: deployment
    runs-on: ubuntu-latest
    needs: [Release-Please]
    if: ${{ needs.release-please.outputs.releases_created }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.release-please.outputs.release_tag_name }}
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm # Ensure npm 11.5.1 or later for trusted publishing
        shell: bash
        run: npm install -g npm@latest
      - name: Install dependencies
        shell: bash
        run: corepack enable && yarn install
      - name: Build
        shell: bash
        run: yarn bundle
      - name: Publish sdk to NPM
        shell: bash
        working-directory: packages/sdk
        run: |
          yarn pack -o package.tgz
          npm publish package.tgz
      - name: Publish react to NPM
        shell: bash
        working-directory: packages/react
        run: |
          yarn pack -o package.tgz
          npm publish package.tgz
      - name: Publish openfeature-web-provider to NPM
        shell: bash
        working-directory: packages/openfeature-web-provider
        run: |
          yarn pack -o package.tgz
          npm publish package.tgz
      - name: Publish openfeature-server-provider to NPM
        shell: bash
        working-directory: packages/openfeature-server-provider
        run: |
          yarn pack -o package.tgz
          npm publish package.tgz
